body {
    overflow-x: hidden;
    width: 100vw;
}

.isi {
    text-align: center;
}

@media (max-width: 576px) {
    h1 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .isi {
        width: 100%;
    }
    .isi div {
        padding-right: 20px;
        /* padding-left: 20px; */
        margin-bottom: 40px;
        text-align: left;
    }
}